.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  background: transparent;
  color: #fff;
  
  cursor: pointer;
}
/* 
.btn-main {
  border: 2px solid #991717;
  color: #991717;
  border-radius: 25px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s, color 0.4s ease 0s;
}

.btn-main:hover,
.btn-main:focus {
 background-color: #bd5e5e;
 color: #fff;
} */

