/* .menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__item {
  margin-right: 5px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
} */

